<footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">Just two reefers trying to peep some reefs :)</p>

          <div>
            <h5 class="white-text">Contact Us</h5>
            <ul>
              <li><a class="white-text" href="#!">2reefers@tweef.com</a></li>
              <li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
      <%= copy_right  %><a class="orange-text text-lighten-3" href="http://materializecss.com">by Tweef LLC</a>
      </div>
    </div>
    </div>
    
  </footer>


  
