<%= form_with(model: tank_profile, local: true) do |form| %>
  <% if tank_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tank_profile.errors.count, "error") %> prohibited this tank_profile from being saved:</h2>

      <ul>
      <% tank_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
