
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      
      <br><br>
      <h1 class="header center orange-text">Tweef</h1>
      <div class="row center">
        <h5 class="header col s12 light">Join our reefing community and let's tweef!</h5>
      </div>
      <div class="row center">
      <%= link_to "Sign Up", new_user_registration_path, class:"btn-large waves-effect waves-light orange" %>
        
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">create</i></h2>
            <h5 class="center">Create A Profile</h5>

            <p class="light">Sign up to create a user profile and add all your aquariums with their specifications!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Share Your Aquarium</h5>

            <p class="light">Tweet your Reef with Tweef! We are an online social media platform for aquarium enthusiast and hobbyist alike!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">forum</i></h2>
            <h5 class="center">Discuss With Others</h5>

            <p class="light">Create discussions that others can comment on!</p>
          </div>
        </div>
      </div>

    </div>
    
  </div>