//= require material_icons
@import "materialize";
.brand-logo .img {
  height: 20rem;
  max-height: 20rem;
}

img {
  border-style: none;
  height: 8rem;
  width: 8em;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer {
  margin-top: 20em;
}